apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ex-clamav-server.fullname" . }}-config
  labels:
    {{- include "ex-clamav-server.labels" . | nindent 4 }}
data:
  PORT: {{ .Values.config.port | quote }}
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  MAX_UPLOAD_SIZE: {{ .Values.config.maxUploadSize | quote }}
  CLAMAV_DB_PATH: {{ .Values.config.clamavDbPath | quote }}
  UPLOAD_PATH: {{ .Values.config.uploadPath | quote }}
  CLAMAV_UPDATE_INTERVAL_HOURS: {{ .Values.config.clamavUpdateIntervalHours | quote }}
  CLAMAV_UPDATE_ON_START: {{ .Values.config.clamavUpdateOnStart | quote }}
  POOL_SIZE: {{ .Values.config.poolSize | quote }}
  DATABASE_SSL: {{ .Values.config.databaseSsl | quote }}
  {{- if .Values.config.freshclamConfig }}
  FRESHCLAM_CONFIG: {{ .Values.config.freshclamConfig | quote }}
  {{- end }}
